PORT=3000
# DATABASE_URL="mysql://root:Classcard123@localhost:3306/airbnb_booking_dev"
DATABASE_URL="mysql://avnadmin:AVNS_0IRlVRNMV10-FAIbz13@mysql-1661cfc3-airbnb-hotel-service.i.aivencloud.com:25465/booking?ssl-mode=REQUIRED"
REDIS_SERVER_URL="redis://localhost:6379"
TTL = 300000
